# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress

Redirect 301 /volunteer.php http://wpwa.org/volunteer/
Redirect 301 /education.htm http://wpwa.org/events/
Redirect 301 /river.php http://wpwa.org/river-conditions-report/
Redirect 301 /privacy.htm http://wpwa.org/privacy-policy/
Redirect 301 /education-awesome.htm http://wpwa.org/kids-programs/
Redirect 301 /waterQuality.htm http://wpwa.org/water-quality/
Redirect 301 /donate.php?donate=Donate+Online! http://wpwa.org/donate/
Redirect 301 /reports.php http://wpwa.org/studies-and-reports/
Redirect 301 /press.php http://wpwa.org/
Redirect 301 /gallery.php http://wpwa.org/
Redirect 301 /pawtucket_dams.htm http://wpwa.org/projects/
Redirect 301 /kids_programs.html http://wpwa.org/kids-programs/
Redirect 301 /annualReport.php http://wpwa.org/annual-reports
Redirect 301 /newsletters.php http://wpwa.org/newsletter/
Redirect 301 /staff.htm http://wpwa.org/our-staff/
Redirect 301 /flood_resiliency.html http://wpwa.org/projects/flood-resiliency/
Redirect 301 /search.php http://wpwa.org/
Redirect 301 /events.php http://wpwa.org/events/
Redirect 301 /fishing.htm http://wpwa.org/fishing/
Redirect 301 /paddling_maps.htm http://wpwa.org/paddling-maps/
Redirect 301 /funders.htm http://wpwa.org/about-us/
Redirect 301 /waterOverview.htm http://wpwa.org/watershed/
Redirect 301 /history.htm http://wpwa.org/history/
Redirect 301 /board.htm http://wpwa.org/board-of-directors/
Redirect 301 /education-science.htm http://wpwa.org/
Redirect 301 /cdn-cgi/l/email-protection http://wpwa.org/
Redirect 301 /cart.php http://wpwa.org/
Redirect 301 /support.php http://wpwa.org/donate/
Redirect 301 /donate.php http://wpwa.org/donate/
Redirect 301 /adapting_watershed.php http://wpwa.org/adapting-watershed/
Redirect 301 /membership2.php?donate=Join/Renew+Online! http://wpwa.org/memberships/
Redirect 301 /contact.htm http://wpwa.org/contact/
Redirect 301 /links.htm http://wpwa.org/
Redirect 301 /membership2.php http://wpwa.org/memberships/
Redirect 301 /aboutwpwa.htm http://wpwa.org/about-us/
Redirect 301 /chariho.htm http://wpwa.org/chariho/
Redirect 301 /membership.php http://wpwa.org/memberships/
Redirect 301 /waterQuality.htm http://wpwa.org/water-quality/
Redirect 301 /galleryOne.php?galleryID=33 http://wpwa.org/
Redirect 301 /galleryOne.php?galleryID=32 http://wpwa.org/
Redirect 301 /galleryOne.php?galleryID=35 http://wpwa.org/
Redirect 301 /galleryOne.php?galleryID=34 http://wpwa.org/
Redirect 301 /galleryOne.php?galleryID=31 http://wpwa.org/
Redirect 301 /galleryOne.php?galleryID=37 http://wpwa.org/
Redirect 301 /galleryOne.php?galleryID=36 http://wpwa.org/
Redirect 301 /galleryOne.php?galleryID=38 http://wpwa.org/
Redirect 301 /galleryOne.php?galleryID=21 http://wpwa.org/
Redirect 301 /galleryOne.php?galleryID=24 http://wpwa.org/
Redirect 301 /galleryOne.php?galleryID=23 http://wpwa.org/
Redirect 301 /galleryOne.php?galleryID=20 http://wpwa.org/
Redirect 301 /galleryOne.php?galleryID=25 http://wpwa.org/
Redirect 301 /galleryOne.php?galleryID=26 http://wpwa.org/
Redirect 301 /galleryOne.php?galleryID=28 http://wpwa.org/
Redirect 301 /galleryOne.php?galleryID=27 http://wpwa.org/
Redirect 301 /galleryOne.php?galleryID=13 http://wpwa.org/
Redirect 301 /gallery.php?parentID=30 http://wpwa.org/
Redirect 301 /galleryOne.php?galleryID=33 http://wpwa.org/
Redirect 301 /galleryOne.php?galleryID=20 http://wpwa.org/
Redirect 301 /galleryOne.php?galleryID=23 http://wpwa.org/
Redirect 301 /whatsHappening.htm http://wpwa.org/events/
Redirect 301 /paddling_maps.htm http://wpwa.org/paddling-maps/
Redirect 301 /reports/stream_monitoring_text_1999_2000.htm http://wpwa.org/studies-and-reports/
Redirect 301 /gallery.php?parentID=30 http://wpwa.org/
